:root {
	/* --font-mono: 'Roboto Mono', monospace; */
	--font-mono: 'Courier New', monospace;
	--font-body: var(--font-mono);

	--color-range-5: 13, 198, 243;
	--color-range-10: 25, 176, 230;
	--color-range-15: 38, 154, 218;
	--color-range-20: 50, 132, 205;
	--color-range-25: 63, 110, 193;
	--color-range-30: 75, 88, 180;
	--color-range-35: 88, 66, 168;
	--color-range-40: 100, 44, 155;
	--color-range-45: 112, 22, 143;
	--color-range-50: 125, 0, 130;
	--color-range-55: 137, 22, 118;
	--color-range-60: 150, 44, 105;
	--color-range-65: 163, 66, 93;
	--color-range-70: 175, 88, 80;
	--color-range-75: 188, 110, 67;
	--color-range-80: 200, 132, 55;
	--color-range-85: 213, 154, 42;
	--color-range-90: 225, 176, 30;
	--color-range-95: 238, 198, 17;
	--color-range-100: 250, 220, 5;
	--color-range-105: 44, 96, 245;
	--color-range-110: 239, 143, 160;

	--color-text-light: #697077;

	--color-theme-yellow: #fbf4e5;
	--color-theme-lightblue: #dce3ec;
	--color-theme-lightblue2: #3f8ef7;
	--color-theme-darkblue: rgba(var(--color-range-30), 0.9);
	--color-theme-shadow: var(--color-theme-darkgrey2);
	--color-theme-blue: #6ba8da;
	--color-theme-purple: #c5c5e0;
	--color-theme-pink: #cebad3;
	--color-theme-red: #fd8a9f;
	--color-theme-darkgrey: #4f4f4f;
	--color-theme-darkgrey2: #ababab;
	--color-theme-darkgrey3: #707070;
	--color-theme-lightgrey: #d8d8d8;
	--color-theme-red: #fe7d95;
	--color-theme-white: #f2f2f2;
	--color-theme-darktext: #21272a;
	--color-theme-black: #1b2222;
	/* methods video colors */
	--color-graph-pink: #e83547;

	font-family: var(--font-body);
	--unified-margin: min(min(27px, 2vw), 3.7svh);
	--unified-padding: 18px;
}
:root {
	--text-bg: #ffffff;
	--text-bg-2: var(--color-theme-white);
	--text-bg-3: var(--color-theme-lightblue);
	/* --text-bg: var(--color-theme-white); */
	--hard-overlay: #ffffff90;
	--color-text: var(--color-theme-darktext);
	--accent-text: var(--color-theme-darkgrey);
	--highlight-text: var(--color-theme-darkblue);
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-bg: var(--color-theme-darkgrey);
		--text-bg-2: var(--color-theme-darkgrey3);
		--text-bg-3: var(--color-theme-darkblue);
		--hard-overlay: #4f4f4f70;
		--color-text: var(--color-theme-white);
		--accent-text: var(--color-theme-pink);
		--highlight-text: var(--color-theme-yellow);
	}
}
 

html,
body {
	height: 100%;
	margin: 0px;
	color: var(--color-text);
	background-color: var(--text-bg);
}

text {
	fill: var(--color-text)
}


h1 {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--accent-text);
}

a:hover {
	color: var(--highlight-text);
	text-shadow: 1px 0px 0px var(--color-theme-shadow);
	/* font-weight: bold; */
}

input,
option,
select {
	accent-color: var(--color-theme-darkblue);
}


.hoverover {
	position: absolute;
	transition: all 500ms;
	background-color: var(--text-bg);
	border: solid 1px var(--color-theme-darkblue);
	z-index: 13;
}

.shadowy {
	border-radius: 6px;
	box-shadow: 3px 3px 10px var(--color-theme-shadow);
}

.padded {
	padding: var(--unified-padding)
}

.ali {
	text-decoration: underline;
}

.marged {
	margin: var(--unified-margin)
}

.clickable {
	cursor: pointer;
}

.hover-xs {
	font-size: min(0.85rem, 1.5vw);
}


.hover-s {
	font-size: min(0.85rem, 2.2vw);
}

.hover-m {
	font-size: min(1rem, 2.5vw);
}

.hover-l {
	font-size: min(1.1rem, 3vw);
}

.vert-zero {
	height: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bstrip {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.logo-strip {
	background-color: var(--color-theme-lightgrey);
	position: relative;
	bottom: 0px;
	width: 100%;
	padding-bottom: 30px;
	padding-top: 10px;
	align-items: center;
}

.logo {
	width: 180px;
	max-height: 120px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
}

g {
	transition: transform 0.8s;
}
