<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="../../favicon-hat.png" />
	<meta name="viewport" content="width=device-width" />
	
		<link href="../../_app/immutable/assets/0.7c9f25c2.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/11.2ee1f0e0.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/ControlInterface.c6f2a639.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/BrokenFittedText.2aed31da.css" rel="stylesheet">
		<link href="../../_app/immutable/assets/PathLevelInfoBox.dacd9133.css" rel="stylesheet">
		<link rel="modulepreload" href="../../_app/immutable/entry/start.3fe475bc.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/scheduler.e598cd7a.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/singletons.b30299f9.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/paths.193f57a8.js">
		<link rel="modulepreload" href="../../_app/immutable/entry/app.3e0ddcaf.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/index.4ed27930.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/0.19698208.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/constants.35d66882.js">
		<link rel="modulepreload" href="../../_app/immutable/nodes/11.fe1d70ad.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/each.e3b9d4d5.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/stores.40bae0ef.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/search-util.0c543bfd.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/tree-loading.d125fe8e.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/ControlInterface.d0752e5e.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/BrokenFittedText.27427c76.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/text-format-util.d960c1ff.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/style-util.8011bb2c.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/visual-util.69db1130.js">
		<link rel="modulepreload" href="../../_app/immutable/chunks/PathLevelInfoBox.4e7f76aa.js"><title>Rankless</title><!-- HEAD_svelte-ecnjr5_START --><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet"><!-- HEAD_svelte-ecnjr5_END -->
</head>

<body data-sveltekit-preload-data="hover">
	<div style="display: contents">   <div class="main-fix svelte-lyx4xq"><div class="main-head svelte-lyx4xq"><div class="hl svelte-lyx4xq"><a href="/" class="svelte-lyx4xq" data-svelte-h="svelte-es428j"><img src="/_app/immutable/assets/logo.917514cc.png" height="40px" width="40px" alt="logo"></a> <a href="/" class="svelte-lyx4xq"><b>Rankless</b></a></div> <div class="hr svelte-lyx4xq" data-svelte-h="svelte-17etoin"><a href="/about" class="svelte-lyx4xq">About</a> <a href="/methods" class="svelte-lyx4xq">Methods</a></div></div> <div class="main-content svelte-lyx4xq"> <div class="treefix svelte-14evmle"> </div></div> <div class="main-foot svelte-lyx4xq">Rankless 2024</div> </div> 
			
			<script>
				{
					__sveltekit_1zdq5s = {
						base: new URL("../..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,{"type":"data","data":null,"uses":{}}];

					Promise.all([
						import("../../_app/immutable/entry/start.3fe475bc.js"),
						import("../../_app/immutable/entry/app.3e0ddcaf.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 11],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>

</html>